<div class="file-checks">
  <h2>Perform file checks</h2>
  <%= render_file_checks_info %>
  <%= form_for @object.metadata_builder, :validate => true, :method => :post, :html => { :class => "file-checks-form" }, :url => "/metadata_builders/#{@object.metadata_builder.id}/file_checks" do |f| %>
      <%= f.submit "Perform file checks now", :id => "file_checks_submit" %>
  <% end -%>
</div>

<div class="image-viewer-controls">
  <h2>Preview all images</h2>
  <form class="viewer-controls-form">
    <div class="float-left">
      <label for="off-by-one">Toggle off-by-one display</label>
      <input id="off-by-one" type="checkbox" name="off-by-one">
    </div>
    <div class="float-right">
      <label for="scaling">Scale preview thumbnails</label>
      <input type="range" name="scaling" id="scaling" value="120" min="120" max="520">
    </div>
  </form>
</div>

<% @object.metadata_builder.metadata_source.each do |ms| %>
    <%= render_files_preview(ms) %>
<% end -%>
