<div class="git-directions">
  <p>Your git remote has been initialized at <%= "#{full_path}" %>.  To begin using this remote, run the following command from the terminal:
  <pre>git clone <%= "#{full_path}\ncd #{(@object.directory).gsub(".git","")}" %></pre></p>
</div>
