<div class="ingested-links">
  <h2>Click below to review of ingested item:</h2>
  <ul>
    <% @object.ingested.each do |identifier| -%>
      <li>(Opens in a new tab) - <%= generate_ingest_link(identifier) %></li>
    <% end -%>
  </ul>
</div>
