<p><%= t('colenda.repos.warnings.no_xml', :href => link_to(t('colenda.repos.preservation_xml_link_text'), rails_admin.preview_xml_path), :button_label => form_label("generate_xml", @object.steps)).html_safe %></p>
