<div class="metadata-only-preview content-block">
  <h2><%= t('colenda.repos.ingest.review.metadata.descriptive.heading', :human_readable_name => @object.human_readable_name) %></h2>
  <%= render_display_attributes("descriptive", @document.attributes) %>
</div>
