<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repo.human_readable_name %>
</p>

<p>
  <strong>Directory:</strong>
  <%= @repo.directory %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repo.description %>
</p>
