<% render_warning_if_out_of_sync %>
<div class="wait hide">
  Extracting metadata...<br />
  Please do not close this window until this process completes.
</div>
<%= render :partial => "metadata_sources/fetch_metadata" %>
<%= render :partial => "metadata_sources/custom_metadata_mapping" if mappings_present?(:original_mappings) %>
