<p>No metadata sources designated for <%= "#{@object.directory}/#{@object.metadata_subdirectory}" %>.</p>
<p><%= link_to "Click here to go to the metadata source file designation section.", rails_admin.preserve_path %></p>
