<p>No metadata sources have been selected yet for <%= "#{@object.directory}/#{@object.metadata_subdirectory}" %>.</p>
<p><%= link_to "Select some metadata sources", rails_admin.preserve_path %> based on the available files to begin generating metadata for this item.</p>
