<p><%= t('colenda.metadata_sources.warnings.no_sources', :source => "#{@object.names.directory}/#{@object.metadata_subdirectory}", :href => link_to(t('colenda.metadata_sources.select_sources_link_text'), rails_admin.preserve_path)).html_safe %></p>
