// ---------------------------------------------------------------------
// Theme colors
$upenn-red: #990000;
$upenn-blue: #011F5B;
$background-white: #f2f2f2;

$text-white: #f3f3f3;

$reader-background: #000000;
