@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Open+Sans');

// ---------------------------------------------------------------------
// Global theme variables

$font-family: 'Open Sans', sans-serif;

$header-font-family: 'Gentium Basic', serif;

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}