<% @page_title = "#{t('about.title')} - #{application_name}" %>

<h1>About Colenda</h1>
<p>Colenda is a digital repository for digitized and born-digital material of enduring value to University and global scholarly communities, serving teaching and research needs. It provides direct access and long-term stewardship for these important resources.</p>
<p>Much of Colenda’s content consists of materials owned and digitized by the Penn Libraries, including significant collections that have been donated to the library. Colenda also includes some public-domain digital objects that were created from assets owned by other institutions in the course of a joint project with the Penn Libraries.</p>
<p><a href="http://www.library.upenn.edu/collections/digital-projects">Descriptions of the collections</a> and <a href="http://www.library.upenn.edu/exhibits/gallery/">exhibits presenting them</a> can be found on the main library website. Not all objects are members of a collection.</p>

<a name="whoisresponsible"></a>
<h2>Statement of responsibility</h2>
<p>This resource contains some materials that are prejudiced, offensive, and/or stereotyping.  They are presented here for the purposes of academic study.  Materials in this resource do not reflect the values or opinions of the University of Pennsylvania Libraries.</p>

<a name="rightsstatements"></a>
<h2>Rights statements</h2>
<p>Penn Libraries intends to provide access to objects in Colenda as broadly as possible, for as long as possible.</p>
<p>When designating rights statements for copyright status and re-use of cultural heritage objects in Colenda, we have embraced the RightsStatements.org options.  When designating rights statements for re-use of items created by individuals in the Penn community, we encourage the use of Creative Commons licenses.</p>
<p>For material that we digitize that is in the public domain, we require the use of a maximally open license from either <a href="http://rightsstatements.org/en/">RightsStatements.org</a> or <a href="https://creativecommons.org/">Creative Commons</a>.</p>
<p>In the spirit of <a href="http://www.library.upenn.edu/digitalpenn/opendata/openmetadatapolicy.html">University of Pennsylvania Libraries Open Metadata Policy</a>, we require that all publicly exposed metadata related to an item be licensed under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons license CC0</a> unless otherwise necessary, regardless of the license on the asset itself.</p>

<a name="whatdidwebuildthisoutof"></a>
<h2>Software components</h2>
<p>Colenda is repository software designed for long-term preservation of digital assets and metadata.  It is Open Source, built on the <a href="http://samvera.org/">Samvera framework</a>, utilizing <a href="https://github.com/samvera/hydra-works">Hydra::Works</a> and the <a href="https://github.com/duraspace/pcdm/wiki">Portland Common Data Model</a> for describing and structuring objects.  Additional functionality is provided through a customized application written in <a href="https://rubyonrails.org/">Ruby on Rails</a>.  The application uses the storage platform <a href="http://docs.ceph.com/docs/master/start/intro/">Ceph</a> for asset storage, selected for high availability, high replication, performance, and fault-tolerance.  Colenda also uses <a href="https://git-scm.com/">git</a> and <a href="https://git-annex.branchable.com/">git-annex</a> to track changes to objects over time.  More information about each of these components can be found in the links below.</p><p>Colenda also complies with <a href="https://iiif.io/about/">International Image Interoperability Framework (IIIF) standards</a>, which ensures high-quality images, interoperability with other image viewers, and the ability to download digital materials.</a></p>

<h2>Publications and code</h2>
<ul>
  <li><a href="https://repository.upenn.edu/library_papers/111/" target="_blank" title="opens in a new tab">Colenda @ the University of Pennsylvania: Make "bad" decisions with confidence!: Using a decoupled, pluggable architecture for object processing</a></li>
  <li><a href="https://repository.upenn.edu/library_papers/113/" target="_blank" title="opens in a new tab">Defensive Design: Developing a System-Agnostic Repository for Sustainable Long-Term Preservation</a></li>
  <li><a href="https://github.com/upenn-libraries/bulwark" target="_blank" title="opens in a new tab">Colenda on GitHub</a></li>
</ul>
