@import "font-awesome";

.git-directions pre {
  background-color: #e4e4e4;
}

.metadata-sources-table table, .metadata-sources-table th, .metadata-sources-table tr, .metadata-sources-table td {
  border: 1px solid #000000;
  padding: 0.5em;
}

form.field-mappings .field {
  margin-top: 2em;
}

.field-mappings .field-tip {
  color: #524e51;
  font-size: 0.7em;
}

.mapping-dashboard input.detect-metadata{
  margin-bottom: 1em;
}

.xml-rendered .doc{
  float: left;
  width: 40%;
  padding: 10px;
  margin: 10px;
}

.xml-rendered .doc pre {
  border: 1px solid #000000;
  height: 400px;
  overflow: scroll;
}

.mapping-dashboard .field-mappings .form-bottom{
  clear: both;
}
