@import "font-awesome";

.git-actions pre {
  background-color: #e4e4e4;
}

.metadata-sources-table table, .metadata-sources-table th, .metadata-sources-table tr, .metadata-sources-table td {
  border: 1px solid #000000;
  padding: 0.5em;
}

form.field_mappings .field {
  margin-top: 2em;
}

.field_mappings .field_tip {
  color: #524e51;
  font-size: 0.7em;
}

.mapping-dashboard input.detect-metadata{
  margin-bottom: 1em;
}
