development:
  kaplan:
    csv:
     owner: user@email.edu
     description: X
     initial_stop: create
     metadata_suffix: X
     assets_suffix: X
     endpoints:
       metadata_fetch_method: X
       metadata_protocol: X
       assets_fetch_method: X
       assets_protocol: X
test:
  kaplan:
    csv:
      owner: user@email.edu
      description: X
      initial_stop: create
      metadata_suffix: X
      assets_suffix: X
      endpoints:
        metadata_fetch_method: X
        metadata_protocol: X
        assets_fetch_method: X
        assets_protocol: X
production:
  kaplan:
    csv:
      owner: user@email.edu
      description: X
      initial_stop: create
      metadata_suffix: X
      assets_suffix: X
      endpoints:
        metadata_fetch_method: X
        metadata_protocol: X
        assets_fetch_method: X
        assets_protocol: X
