development:
  openn:
    csv:
     owner: user@email.edu
     description: X
     initial_stop: create
     metadata_suffix: X
     assets_suffix: X
test:
  openn:
    csv:
      owner: user@email.edu
      description: X
      initial_stop: create
production:
  openn:
    csv:
      owner: user@email.edu
      description: X
      initial_stop: create
