# Display mechanisms settings

development:
  iiif:
    image_server: "http://localhost/iiif/2"

test:
  iiif:
    image_server: "http://localhost/iiif/2"

production:
  iiif:
    image_server: "http://localhost/iiif/2"