development:
  root_element_options:
    - record
    - page
  parent_element_options:
    - pages
    - records
  schema_terms:
    - title
    - author
  canonical_identifier_path:
    - identifier
  voyager:
    http_lookup: http://url/to/http/no/trailing/slash
test:
  root_element_options:
    - record
    - page
  parent_element_options:
    - pages
    - records
  schema_terms:
    - title
    - author
  canonical_identifier_path:
    - identifier
  voyager:
    http_lookup: http://url/to/http/no/trailing/slash
production:
  root_element_options:
    - record
    - page
  parent_element_options:
    - pages
    - records
  schema_terms:
    - title
    - author
  canonical_identifier_path:
    - identifier
  voyager:
    http_lookup: http://url/to/http/no/trailing/slash
