development:
  root_element_options:
    - record
    - page
  parent_element_options:
    - pages
    - records
  schema_terms:
    - title
    - author
  canonical_identifier_path:
    - identifier
  voyager_root:
    - record
test:
  root_element_options:
    - record
    - page
  parent_element_options:
    - pages
    - records
  schema_terms:
    - title
    - author
  canonical_identifier_path:
    - identifier
  voyager_root:
    - record
production:
  root_element_options:
    - record
    - page
  parent_element_options:
    - pages
    - records
  schema_terms:
    - title
    - author
  canonical_identifier_path:
    - identifier
  voyager_root:
    - record
