<p>No metadata schema mappings have been generated.  To generate the metadata schema to use for creating this preservation XML, use the <%= link_to "Generate Metadata form", rails_admin.generate_metadata_path %>.</p>
