<div class="wait hide">
  Generating XML now...
</div>
<div class="xml-preview">
<%= form_for @object.metadata_builder, :validate => true, :method => :post, :url => "/metadata_builders/#{@object.metadata_builder.id}/generate_preview_xml" do |f| %>
  <%= f.submit "Generate XML preview", :class=> "xml-trigger" %>
<% end %>

  <%= render_sample_xml %>
</div>
