<%= form_for @object.metadata_builder, :validate => true, :method => :post, :url => "/metadata_builders/#{@object.metadata_builder.id}/generate_preview_xml" do |f| %>
  <%= f.submit "Generate XML preview" %>
<% end %>

<div class="xml-preview">
  <%= render_sample_xml %>
</div>
