<div class="source-select-form">
  <%= form_for @object.metadata_builder, :validate => true, :method => :post, :url => "/metadata_builders/#{@object.metadata_builder.id}/set_source" do |f| %>
    <% @preserve = @object.metadata_builder.available_metadata_files %>
    <div class="md-source-select">
      <%= f.label :source, "Select metadata sources:" %>
      <%= f.select :source, prettify(@preserve).zip(@preserve), {}, { :multiple => true }  %>
    </div>
    <%= f.submit "Mark files to be designated as metadata sources" %>
  <% end -%>
</div>
