<div class="source-select-form">
  <%= form_for @object.metadata_builder, :validate => true, :method => :post, :url => "/metadata_builders/#{@object.metadata_builder.id}/set_source" do |f| %>
    <% @object.metadata_builder.available_metadata_files.each do |preserve| %>
    <div class="checkbox">
      <%= check_box_tag "source_files[#{_prettify(preserve)}]", preserve %>
      <%= label "source_files[#{_prettify(preserve)}]", _prettify(preserve) %>
    </div>
    <% end %>
    <%= f.submit "Mark files to be designated as metadata sources" %>
  <% end -%>
</div>
