<div class="panel panel-default review-status">
  <div class="panel-heading">
    <h2><%= t('blacklight.tools.admin') %></h2>
  </div>
  <div class="panel-body">
    <%= render_admin_link(repo) if repo %>
  </div>
</div>
