<div class="warc-container">
  <hr />
  <div class="warc-download">
    <%= link_to("Download the archive", "#{ENV['PHALT_ENDPOINT']}/files/#{filename}?filename=#{download_url}") %>
  </div>
  <div class="warc-filename">
    Filename: <%= filename %>
  </div>
</div>


