<ol class="breadcrumb">
  <li>Admin</li>
  <li><a href="/admin/bulk_imports">Bulk Imports</a></li>
  <li>Create</li>
</ol>

<h2>New Bulk Import</h2>
<%= bootstrap_form_for [:admin, @bulk_import] do |f| %>
  <%= f.static_control :created_by_email, label: 'Created By' %>
  <%= f.file_field :bulk_import_csv, label: 'Bulk Import CSV' %>
  <%= f.submit 'Create' %>
<% end %>
