<p>Creating Remote</p>
<pre><%= `git init /fs/pub/data/object1/remote_#{@object.id}.git` %></pre>
<p>Try this</p>
<pre><%= `git annex init /fs/pub/data/object1/remote_#{@object.id}.git` %></pre>
<p>To begin using this remote, type the following into your terminal:</p>
<pre>git remote add intermediate /fs/pub/data/object1/remote_<%= @object.id %>.git</pre>
