<div class="generate-xml">
  <%= button_to "Generate XML", "/repos/#{@object.id}/generate_xml_preview", :id => @object.id, method: :post %>
</div>

<div class="xml-preview">
  <%= render_sample_xml if @object.metadata_builder.preserve %>
</div
