<<<<<<< HEAD
<h2>Queued for Fedora</h2>
<%= render_fedora_queue %>
=======
<%= render :partial => "process_batch" %>
>>>>>>> parent of cf4485b... WIP batch controller

<h2>Pre-Fedora Review Complete</h2>
<%= render_reviewed_queue %>