<% refresh_metadata_from_source %>
<div class="mapping-dashboard">
  <%= render :partial => "metadata_builders/form", :locals => {metadata_builder:  @object.metadata_builder} unless @object.metadata_builder.nil? %>
</div>
