<h2>Designate source metadata files</h2>
<%= render_source_select_form %>

<h2>Designate files for long-term preservation</h2>
<%= render_preserve_select_form %>

<h2>Clear out artifacts not for long-term preservation or metadata sources</h2>
<%= render_clear_out_form %>
