@import 'base/colors.css.scss';

/*
*
* Review mechanism styling
*
*/

.blacklight-catalog-show .review-status {
  border-color: #dddddd;
  clear: both;
  h1, h2, h3, h4, h5 {
    color: #1f3946;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 18px;
  }
  h3{
    font-size: 14px;
    background: #a3c5d5;
    border-top: #dddddd solid 1px;
    border-bottom: #dddddd solid 1px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px 10px;
  }
  .panel-heading {
    background-color: #a3c5d5;
  }
  .panel-body {
    background-color: #e2f0f6;
  }

  li {
    font-size: 12px;
    padding: 10px 0px;
  }
}
