@import 'base/colors.css.scss';
@import 'base/globals.css.scss';
@import 'base/mixins.css.scss';

/*************
*
* UPenn styles
*
**************/

#header-navbar {
  height: 70px;
}

#search-navbar .search-query-form {
  width: 90%;
}

.site-name {
  width: 800px;
  height: 100px;
  font-family: $header-font-family;
  padding-top: 30px;
   a {
    font-size: 36px;
    color: $text-white;
  }
}

.document-thumbnail {
  .glyphicon-book {
    font-size: 80px;
  }
}


body {
  color: $text-black;
  font-family: $font-family;
}

h1, h2, h3 {
  color: $upenn-blue;
}

span.site-name {
  font-size: 40px;
  color: $text-white;
  font-style: italic;
}

.navbar-nav {
  float: right;
  height: 50px;
  li {
    a {
      color: $text-white;
      :click {
        background-color: $upenn-red;
      }
    }
  }
}

#beta-announcement {
  clear: both;
  padding: 5px 10px;
  background-color: $light-grey;
  border-bottom: 1px solid $medium-grey;
}

#beta-label {
  text-align: right;
  font-size: 14px;
}

#beta-label .label {
  background-color: $upenn-lighter-red;
  width: 100px;
  margin-right: 10px;
  font-size: 14px;
}

#beta-label .text {
  text-transform: uppercase;
  color: #ffffff;
}



/*************
*
* Overriding Blacklight styles
*
**************/

#header-navbar {
  background-image: asset-url('orrerybg.jpg');
  height: 100px;
  margin-bottom: 0px;
  .navbar-brand {
    background-image: asset-url('logo.png');
    margin-top: 30px;
  }
}

#header-brand-links {
  float: left;
  padding-left: 10px;
}

#user-util-links {
  background-color: $upenn-darkest-blue;
  border-top: 1px solid $upenn-red;
  a {
    color: $text-white;
  }
  a:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: $upenn-red;
  }
}

#search-navbar {
  clear: both;
}


.btn-primary {
  background-color: $upenn-red;
  border-color: $upenn-blue;
}

.btn-primary:hover {
  border-color: $upenn-red;
  background-color: $upenn-blue;
}

#footer {
  font-family: "Source Sans Pro","Arial Unicode MS",Helvetica,sans-serif;
  background-color: #dfdfdf;
  min-height: 30px;
  font-size: 12px;
  padding: 10px 0px;
  margin-top: 30px;
  a.branding {
    color: $text-black;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 30px;
    margin-top: 0;
    padding-left: 10px;
  }
}

/*************
*
* Overriding OpenSeaDragon styles
*
**************/

#openseadragon {
  background-color: $background-black;
}


/*************
*
* Staying responsive
*
**************/

@media screen and (max-width: 600px) {

  .site-name {
    a {
      font-size: 24px;
    }
  }

  #header-navbar {
    .navbar-brand {
      width: 120px;
      margin-right: 0px;
    }
  }

  #footer {
    .footer-text {
      display: block;
      margin-left: 10px;
    }
  }

}