@import 'base/colors.css.scss';
@import 'base/mixins.css.scss';

/*************
*
* UPenn styles
*
**************/

.site-name {
  width:500px;
  float: right;
  padding-top: 10px;
   a {
    font-size: 30px;
    color: $text-white;
    font-weight: bold;
  }
}

.document-thumbnail {
  .glyphicon-book {
    font-size: 80px;
  }
}




/*************
*
* Overriding Blacklight styles
*
**************/

#header-navbar {
  .navbar-brand {
    background-image: asset-url('logo.png');
    margin-top: 10px;
  }
}

.btn-primary {
  background-color: $upenn-red;
  border-color: $upenn-blue;
}

/*************
*
* Overriding BookReader styles
*
**************/

body {
  font-size: 14px;
}

#BookReader {
  margin-left: auto;
  margin-right: auto;
}

#BookReader, #BRcontainer, div#BRnav {
  position: relative;
}

#BookReader, #BRcontainer, #BRtoolbar, div#BRnav {
  width: 600px;
}

#BRcontainer {
  height: 800px;
  z-index: 0;
}

div#BRpage {
  width: 350px;
}

#BRtoolbar, div#BRnav {
  background-color: $background-white;
}

#BRpageview, #BRcontainer {
  background-color: $reader-background;
}

div#BRnavpos, div#BRpager, div#BRnavline {
  width: 200px;
}

/* Fixes assets loading in CSS in production */

.BRicon {
  background-image: asset-url('BRicons.png');
}

#BRbookcover, .BRleafEdgeR, .BRleafEdgeL, .BRleafEdgeTmp {
  background-image: asset-url('back_pages.png');
}

#BRgutter {
  background-image: asset-url('booksplit.png');
}

.BRfliparea {
  background-image: asset-url('transparent.png');
}

#BRpager .ui-slider-handle, div#pager {
  background-image: asset-url('slider.png');
}

div.chapter {
  background: asset-url('marker_chap-off.png');
}

div.chapter.front {
  background: asset-url('marker_chap-on.png');
}

div.search {
  background-image: asset-url('marker_srch-off.png');
}

div.search.front, div.search div.pointer {
  background-image: asset-url('marker_srch-on.png');
}

div#BRzoombtn {
  background-image: asset-url('icon_zoomer.png');
}

.BRprogressbar {
  background-image: asset-url('progressbar.gif');
}

.BRup {
  background-image: asset-url('nav_control-up.png');
}
.BRdn {
  background-image: asset-url('nav_control-dn.png');
}

/* Hide everything we don't need */
#BRreturn, #BRtoolbarbuttons, #BRnavCntlBtm, #BRtoolbar .logo {
  display: none;
}
