<ul class="nav navbar-nav">
  <% if has_user_authentication_provider? %>
      <% if current_user %>
          <li class="nav-item">
            <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, class: 'nav-link' %>
          </li>
          <% unless current_user.to_s.blank? -%>
              <li class="nav-item">
                <%= link_to current_user, edit_user_registration_path, class: 'nav-link' %>
              </li>
          <% end %>
      <% end %>
  <% end %>
</ul>