<h3>With Structural Metadata</h3>

<% @digital_object.structural_metadata.user_defined_mappings['sequence'].each do |values| %>
  <% asset = @digital_object.assets.find_by(filename: values['filename']) %>
  <%= render partial: 'asset', locals: { asset: asset, metadata: values } %>
  <hr>
<% end %>

<% files_with_structural = @digital_object.structural_metadata.user_defined_mappings['sequence'].map { |a| a['filename'] }%>
<% all_assets = @digital_object.assets.map(&:filename) %>
<% files_without_structural = all_assets - files_with_structural %>

<% unless files_without_structural.blank? %>
  <h3>Without Structural Metadata</h3>
  <% files_without_structural.each do |filename| %>
    <% asset = @digital_object.assets.find_by(filename: filename) %>
    <%= render partial: 'asset', locals: { asset: asset, metadata: {} } %>
  <% end %>
<% end %>
